body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #6e3a3a;
    color: var(--navy-900);
    line-height: 1.6;
}


h1 {
    font-size: 2em; /* 1rem = 16px -> 1em = "M" */
    font-weight: bold;
}

header h1 {
    text-align: center;
    font-size: 2rem;
    color: #4a0b0b;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #2c2c2c;
    margin-bottom: 1rem;
    

}

header {
    background-color: #360707;
    padding: 1rem 2rem 1rem 2rem;
    box-shadow: 0px 4px 8px #0000000a;
    position: sticky; /* pode ser necessário top, left, bottom ou right */
    top: 0;
}

header ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

header a {
    color:#ffffff;
    font-weight: 700;
    padding: .5rem 1rem;
}

header a:hover {
    background-color:#4a0b0b;
    border-radius: 0.5rem;

}
section {
    height: auto; /* deixa crescer conforme o conteúdo */
    margin: 2rem 0;
    scroll-margin-top: 4rem;
    padding: 0; /* sem padding aqui */
    border: none; /* tirando a borda cinza */
}

.place {
    background-color: #ffffff; /* fundo branco */
    border: 2px solid #ffffff; /* borda branca */
    border-radius: 1rem;
    padding: 1.2rem;
    margin: 2rem auto;
    width: 90%;
    box-shadow: 0 0 0 3px #000000, 0 4px 8px rgb(0, 0, 0); /* linha branca + sombra */
    text-align: center;
}


footer {
    background-color:#360707; /* azul escuro estilo do print */
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    font-family: Verdana, sans-serif;
    border-radius: 0 0 0.6rem 0.6rem; /* cantinhos arredondados embaixo */
}

article{
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-left: 4px solid #4a0b0b;
    background-color:rgba(211, 211, 211, 0.37);
    border-radius: 8px;
}