body {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

h1 {
    font-size: 2em; /* 1rem = 16px -> 1em = "M" */
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

header {
    background-color: rgb(54, 7, 7);
    padding: 1rem 2rem 1rem 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky; /* pode ser necessário top, left, bottom ou right */
    top: 0;
}

header ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

header a {
    color:#ffffff;
    font-weight: 700;
    padding: .5rem 1rem;
}

header a:hover {
    background-color:black

}
section {
    height: 80vh; /*vh -> view
    margin: 1rem;
    padding: 1rem;
/*     border-width: 1px;
    border-color: black;
    border-style: solid; */
    border: 2px solid black;
}

p {
    margin-bottom: 1rem;
}